<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="wrapper">
  <div id="bulb">
    <div id="bulb-top"></div>
    <div id="bulb-middle"></div>
    <div id="bulb-bottom"></div>
  </div>
  <div id="bulb-base">
    <div id="bulb-base-top"></div>

  </div>
</div>

</ion-content>
