<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Ręczna Kontrola" tabIcon="md-switch" (ionSelect)="myMethod()"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Connection" tabIcon="bluetooth"></ion-tab>
</ion-tabs>
