<ion-list padding *ngIf="!connected">
    <button ion-button block (click)="startScanning()">scan</button>
    <ion-list-header>
      Paired Devices
    </ion-list-header>
  <ion-list >
    <ion-item *ngFor="let device of pairedDevices">
      <span (click)="selectDevice(device.address)">
      {{device.name}}
        </span>
    </ion-item>
    <button ion-button block (click)="disconnect()">Disconnect</button>
  </ion-list>
    <ion-list-header>
      availlable Devices
    </ion-list-header>
  <ion-list >
      <ion-item *ngFor='let device of unpairedDevices'>
        <span (click)="selectDevice(device.address)">
          {{device.name}}
        </span>
      </ion-item>
  </ion-list>
    <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
  </ion-list>
