<ion-header>
  <ion-navbar>
    <ion-title>
      Ręczna Kontrola
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Aktualny poziom: <strong>{{level}}</strong> </ion-label>
    <ion-range min="0" max="100" step="1" [(ngModel)]="level">
      <ion-icon small range-left name="md-bulb"></ion-icon>
      <ion-icon range-right name="md-bulb"></ion-icon>
    </ion-range>
  </ion-item>
  <button ion-button block (click)="send()">Wykonaj</button>

</ion-content>
