page-welcome {
  #welcome{
      background-color: gray;
  }
  #content{
    margin-top: 50px;
     text-align: center;
     color: orange
  }
  #title{
  margin-top: 20px;
  }
  #logo{
  margin-top: 60px;
  }



}
