
<ion-content padding id="welcome">
     <h1 id="title">Witaj w Smart-Room-Light</h1>
     <img (click)="start()" id="logo" src="assets/img/light-bulb.png"/>

  <div id="content">
    <h4 >kliknij żarówke aby połączyć się z systemem</h4>
   </div>
</ion-content>
